<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 myBatis에서 처리할 SQL문을 작성하는 문서입니다. -->
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<select id="selectList" resultType="boardVO">
		select * from board
	</select>
	
	<select id="selectOne" resultType="boardVO" parameterType="int">
		select * from board where bo_no = #{bo_no}
	</select>
	
	<insert id="addBoard" parameterType="boardVO">
		insert into board values(
			seq_board.nextval, 
			#{bo_title},
			#{bo_content},
			#{bo_writer},
			sysdate,
			0)
	</insert>
	
	<update id="updateHit" parameterType="int">
		update board set
			bo_hit = bo_hit + 1
		where bo_no = #{bo_no}
	</update>
	
	<update id="updateBoard" parameterType="boardVO">
		update board set
			bo_title = #{bo_title},
			bo_content = #{bo_content},
			bo_writer = #{bo_writer},
			bo_date = sysdate
		where bo_no = #{bo_no}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board where bo_no = #{bo_no} 
	</delete>
</mapper>	











